

.details {
    text-align: center;
    width: 30%;
    display: flex;

}

.ctr-text {
    text-align: center;
    text-transform: uppercase;
    color: #23bae9;
}

.card-styles {
    margin-bottom: 5vh;
}

/* .card-img, .card-img-bottom, .card-img-top {
    width:  50%;
} */

/* .profile-image-card-img-top {
    width: 50%;
} */
